
body{
    background-image: linear-gradient(black,#ff5500,black ,black ,black,#ff5500,#ff5500);
    animation: changecolor 2s linear infinite alternate;
    font-family: "block";
}
@keyframes changecolor {

}


.orng-line{
    border: 2px #D44700 solid;
    margin: 0px 131px 0px 131px;
    background-color: #D44700;
    margin-top: -8px;
}


.logo{
    background: url("../asstes/Logo/peace-cloud-28ad0963.svg")
    no-repeat 12px 11px;
    position: absolute; 
     top: 13px;
    left: 154px;
    background-size: 48px 22px;
    display: block;
    width: 184px;
    height: 46px;    
}


.logo2{
    background: url("../asstes/Picture/download2.png")
    no-repeat ;
    position: absolute; 
    opacity: 2;
    top: 24px;
    left: 214px;
    background-size:200px x 40px;
    display: block;
    width: 88px;
    height: fit-content;   
} 


@font-face {
    font-family: "block";
    src: url("../asstes/Font/Sans/Blok_/block.otf" )format("opentype")
         url("../asstes/Font/Sans/Blok_/block\ rough.otf") format("opentype")
         url("../asstes/Font/Sans/Blok_/blokalt.otf" )format("opentype")
         url("../asstes/Font/Sans/Blok_/bloklined.otf") format("opentype");
}


.header{
display: flex;
height: 450px;
background: url(../asstes/background/sc_landing_header_web_featured_artists-.jpg)
no-repeat center top;
justify-content:center;
align-items: center;
}


div{
 /* border: 0.5 green solid; */
}


.header>div{
    color: #000;
    margin: 10px;
    padding: 20px;
}


.btn-dark-pro{
    display: inline-block;
    position: relative;
}


.btn-org>a>input{
    display:block;
    background-image: linear-gradient(45deg, #f50, yellow,  #ff5500 );
    border: 0.5px #fff solid;
    color: #fff;
    transition: 0.5s;
    height: 31px;
    width: 80px;
    border-radius: 5%;
    position: absolute;
    bottom: 277px;
    left: 475px;
    box-shadow: 20px #eee;
    background-size: 200% auto;
    cursor: pointer;
}


.btn-org>a>input:hover {
    background-position: right center; 
    color: #fff;
    text-decoration: none;
}
 

.input-sing >a>input{
    display: inline-block;
    background-color: rgb(0, 0, 0);
    border: 0.5px rgb(255, 255, 255) solid;
    color: rgb(255, 255, 255);
    display:inline;
    height: 31px;
    width: 75px;
    border-radius: 5%;
    position: absolute;
    bottom: 277px;
    left: 378px;
    cursor: pointer;
}


.text>p{
    color:#fff;
}

.text{
    text-align: center;
    position: relative;
}


.text>h2{
    display: block;
    color: #fff;
    text-align: center;  
}


.search-box{
    height: 106px;
    width: 1241px;
    margin-bottom: -24px;
    margin-left: 131px;
    display: inline-block;
    position: relative;
    background-color: rgb(0, 0, 0);
}


.button-home>a>input{
    display: inline-block;
    background-color: #000000;
    border: 0.2px #ff5500 solid;
    color: #FF5500;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    height: 40px;
    width: 156px;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
}

.button-home>a>input:hover{
 
    color: rgb(255, 255, 255);
    background-color: #D44700;
    border-right: #ff5500;
    border-bottom: #ff5500;
    border-left: #f7a12a;
    border-top: #f7a12a;
    border-width: 0.2px;
    border-style: solid;
    border-color: #F2F2F2;
    box-shadow: 0px 0px 20px 0px #FF5500;
}
    

.img-search{
   display: inline-block;
   position: absolute;
   left: 656px;
   top: 47px;   
}


.spaninbox{
    display: inline-flex;
    color: #F2F2F2;    
}


.search{
    
    display: flex;
    position: relative;
}


.input-search{
    background-color: #000000;
    margin-top: 28px;
    outline-style: solid;
    outline-color: rgb(77, 77, 77);
    border-radius: 2px;
    margin-left: 285px;
    width: 396px;
    display: inline-block;    
}


.button{
    margin: -49px 0px 0px 727px;
}



.button>a>input{
    display: inline-block;
    background-color: #000000;
    border: 0.5px #FF5500 solid;
    color: #FF5500;
    text-decoration: none;
    height: 40px;
    width: 156px;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer
}


.button>a>input:hover{
    color: rgb(255, 255, 255);
    background-color: #D44700;
    border-right: #ff5500;
    border-bottom: #ff5500;
    border-left: #f7a12a;
    border-top: #f7a12a;
    border-width: 0.2px;
    border-style: solid;
    border-color: #F2F2F2;
    box-shadow: 0px 0px 20px 0px #FF5500;
}


.input-search> input[type=text] {
    display: inline-block;
    color: rgb(41, 41, 41);
    display:inline-block;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    width: 398px;
    border: rgb(255, 255, 255);
    height: 50px;
    background-color: #000;
    cursor: pointer;   
}


.trending{
    display: inline-block;
    height: 96px;
    width: 1242.5px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 131.4px;
}


.trending>p{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255) ;
    font-size: 24px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 42px;
    margin-right: 2px;
    margin-bottom: -7px;
}


#song{
    position: relative;    
}


.song1{

    display: flex;
    background-color: rgb(0, 0, 0);
    margin-bottom: 62px;
    margin-left: 7px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    overflow: hidden;
    list-style-type: none;
    position: absolute;
    right: 131px;
    left: 124px;    
    padding: 0px;
}





.album1{
    border-width: 2px;
    width: 149px;
    height: 149px;
    display: inline-block;
    margin: 21px;
}

.text-album1{
    text-align: left;
    display: inline-block;
    width: 173px;
    height: 20px;
    margin-top: auto;
    color: #F2F2F2;
    overflow: hidden;
    text-overflow: ellipsis;
} 


.text-album2{
    text-align: left;
    display: inline-block;
    /* border: 0.1px blue solid; */
    width: 173px;
    height: 20px;
    margin-top: auto;
    overflow: hidden;
    color: #F2F2F2;
    text-overflow: ellipsis;    
}



.album1{
    box-shadow: 2px 2px 5px #fff;
    border-style: solid;
    width: 184px;
    height: 184px;
    display:inline-block;
    margin: 1px;
    margin-left: 9px;
}


.album1:hover{
    margin-top: -7px;
    box-shadow: 4px 4px 8px #ff5500;
    border-style: solid;
    border-right:  2px #fff solid;
    border-bottom:  2px #fff solid;
}


.button2>a>input{
    display: block;
    background-color: rgb(0, 0, 0);
    border: 0.2px #000 solid;
    color: #ff5500;
    box-shadow: 1px 1px 5px 5px #FF5500;
    height: 50px;
    border-radius: 3px;
    font-size: 18px;
    text-align: center;
    padding: 13px 23px;
    box-sizing: border-box;
    margin-top: 308px;
    margin-bottom: 31px;
    margin-left: -705px;
    cursor: pointer;

}

.button2>a{
    text-decoration-line: none;
    text-decoration-color: #000;
}

.button2>a>input:hover{
    background-color: #f30;
    border:  0.2px #fff solid;
    color: #000;
    text-decoration-line: none;
    box-shadow: 1px 1px 10px 10px #FF5500;
}


.input-sing input{
    display: inline-block;
    background-color: rgb(0, 0, 0);
    border: 0.5px rgb(255, 255, 255) solid;
    color: rgb(255, 255, 255);
    display:inline;
    height: 31px;
    width: 75px;
    border-radius: 5%;
    position: absolute;
    bottom: 277px;
    left: 475px;
    cursor: pointer;
}


.app{
    position: relative;
    height: 500px;
}


.Never-stop-listening{
    width: 400px;
    height: 200px;
    display: inline-block;
    align-items: center;
    text-align: center;
    position: absolute;
    left: 870px;
    top: 42px;
    margin-left: 50px;
}


.Never-stop-listening>p,pre{
    font-size: 36px;
    color: #F2F2F2;
}


.classbold{
    color: #F2F2F2;
}


.share-box>div{
    height: 10px;
}


.share-box{
    display: inline-block;
    width: 259px;
    height: 60px;
    align-items: center;
    margin:5px;
    position: absolute;
    left: 931px; 
    top: 281px;
    cursor: pointer;
    margin-left: 70px; 
}


.iphone-pic{
    background: url("../asstes/background/never_stop_listening2.jpg")
    no-repeat ;    
    background-size: 100%;
    width: 700px;
    height: 379px;
    margin-left: 200px; 
    margin-right: -420px;
    margin-top: -611px;
    left: 70px;
    top: 100px;
}
  
.Never-stop-listening>p::after{
    content: "";
    display: block;
    width: 75px;
    height: 3px;
    background-image: linear-gradient(90deg,#7d01a1,#f30 50%,#f50);
    margin-top: 15px;
    margin-left: 40px;
} 


.iphone-pic>div{
width: 300px;
height:250px;
}


#iphone{
    width: 450px;
    height: 450px;
    position: relative;
    margin-left: 69px;    
}


.footer-photo{
    position: absolute;
    top: 397px;
    right: 226px;
    left: 165px;
    display: inline-block;
}


.footer2>div{
    margin-top: 1242px;
    height: 213px;
}


.footer-text{
    position: absolute;
    top: 219px;
    left: 253px;
    background: none ;
    color: #fff;
    z-index:1 ;
    display: inline-block;
}


#foot2{
    position: relative;
    display: flex;
}


.spanpre{
   font-size: 36px;
}


.Never-stop-listening>pre{
    font-size: 24px;
    margin-top: -26px;
    margin-left: -166px;
}


.footer-text>p{
    font-size: 25px;
    color: #F2F2F2;
}


.buttonfooter>a>input{
    background-color: #000;
    border: 1px #fff solid;
    color: #fff;
    display: inline;
    font-size: 20px;
    height: 50px;
    width: 200px;
    border-radius: 5%;
    position: absolute;
    cursor: pointer;
    bottom: -60px;
    left: 5px;
}


.buttonfooter>a>input:hover{
border: 2px #000 solid;
box-shadow: 1px 1px 20px #eee;
background-color: #F2F2F2;
color: #000;
}

#end-footer{    
    margin: 198px 0px 0px 311px;
    height: 100%;
    display:flex ;
    flex-flow: column nowrap;
    text-align: center;
    justify-content: center;
}

.text-footer2{
    display: inline;
    color: #F2F2F2;
}

.text-footer2>p{
    margin: -127px 28px 0px 0px;
}


.text-footer{
    background-color:none;
    text-align: center;
    height: 242px;
    width: 1253px;
    font-size: 24px;
    margin-top: 327px;
    margin-bottom: -298px;
    margin-left: -155px;
    color: #fff;
}


.button-footer>a>input{
    display: inline-block;
    background-color: #000 ;
    border: 2px solid #ff5500;
    display:inline-block;
    height: 40px;
    color: #ff5500;
    width: 187px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    position: static;
    margin: 198px 531px 0px 255px;
    box-shadow: 3px 3px 6px rgb(0, 0, 0);
    border-style: solid;
}


.button-footer>a>input:hover{    
    margin-bottom: 5px;
    box-shadow: 4px 4px 8px #000;
    border-style: solid;
    background-color: #f30;
    color: #000;
    border-top: 0.2px #f7a12a solid;
    border-left: 0.2px #f7a12a solid;
   border-right:  0.5px #ff5500 solid;
   border-bottom:  0.5px #ff5500 solid;
}


.album2{
    box-shadow: 2px 2px 5px #fff;
    border-style: solid;
    width: 184px;
    height: 184px;
    display: inline-block;
    margin: 1px;
    margin-left: 9px;
}


.album2:hover{
    margin-top: -7px;
    box-shadow: 4px 4px 8px #ff5500;
    border-style: solid;
    border-right:  2px #fff solid;
    border-bottom:  2px #fff solid;
}


.button-footer2>a>input{
    display: inline-block;
    background-color: rgb(255, 255, 255);
    border: 0.5px #ff5500 solid;
    color: #ff5500;
    display:inline-block;
    height: 40px;
    width: 92px;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    right: 438px;
    bottom: 255px;
    margin-right: 10px;
    background-color: black;
    font-size: 15px;
    background-color: #000 ;
    border: 2px solid #ff5500;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    position: static;
    box-shadow: 3px 3px 6px rgb(0, 0, 0);
    border-style: solid;
}


.button-footer2>a>input:hover{    
    margin-top: -5px;
    box-shadow: 4px 4px 8px #000;
    border-style: solid;
    background-color: #f30;
    color: #000;
    border-top: 0.2px #f7a12a solid;
    border-left: 0.2px #f7a12a solid;
    border-right:  0.5px #ff5500 solid;
    border-bottom:  0.5px #ff5500 solid;
}


.name-singer{
    font-size: 12px;
    position: static;
    overflow: hidden;
    color: #F2F2F2;
}


.name-singer>a{
    overflow: hidden;
    cursor: pointer;
    position: static;
    text-decoration-line: none;
    color: #999;
}


a:hover{
    color: #333;
}


.album1{
    position: relative;
}


.album2{
    position: relative;
}


.play2:hover{
    display: block;
    background-color:#ff5500;
    opacity: 1;
    border: 0.01px  rgb(179, 38, 3) solid;
}


.txt-song{
    background-color: none;
    display: inline-block;
    position: relative; 
    top: 0px;
    left: -154px;
    height: 4px;
    width: 941px;
    padding: 157px;
}


.dark-mode2-key>a>input{
    width: 140px;
    height: 50px;
    border-radius: 6px;
    color: #FF5500;
    border:  0.5px #ff5500 solid;
    background-color: #000000;
    position:fixed;
    bottom: 50px;
    left: 20px;
}